.landingPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.header{
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  margin: 0 8% 0 8%;
}

.navbar {
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
  min-width: 20%;
  background-color: #ffffff;

}

.headerTitle{
  display: flex;
  width: 30%;
  flex-direction: column;
}

.logo{
  align-self: flex-start;
  padding-top: 1%;
}

.headerText{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
  color: #212529;
}

.headerImage{
  display: flex;
  justify-content: stretch;
  max-width: 50%;
}

.shopContent{
  padding-top: 4%;
  display: flex;
  margin: 0 8% 0 8%;
  background-color: #6dae38;
}

.sideBar{
  width: 20%;
}

.products{
  min-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 13%;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #4c4742;
}

.MuiCardMedia{
  height: 100px;
}


@media screen and (max-width: 650px) {
  .headerImage{
    display: none;
  }
  .header{
    margin: 0 0 0 0;
  }
  .shopContent{
    margin: 0 0 0 0;
  }
}
