@import controllers.CreateShippingForm
@(shipping: Form[CreateShippingForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.ShippingFormController.createShippingHandle()) {
    @helper.CSRF.formField
    @inputText(shipping("streetName"))
    @inputText(shipping("buildingNumber"))
    @inputText(shipping("postalCode"))
    @inputText(shipping("city"))

    <div class="buttons">
        <input type="submit" value="Add Shipping"/>
    </div>
}