@import controllers.CreateShippingForm
@(shipping: Form[CreateShippingForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.ShippingFormController.createShippingHandle()) {
    @helper.CSRF.formField
    @inputText(shipping("street_name"))
    @inputText(shipping("building_number"))
    @inputText(shipping("postal_code"))
    @inputText(shipping("city"))

    <div class="buttons">
        <input type="submit" value="Add Shipping"/>
    </div>
}