@import controllers.UpdateCartForm
@(cart: Form[UpdateCartForm], users: Seq[User], products: Seq[Product])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.CartFormController.updateCartHandle) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@cart("id").value" type="hidden" />

    <label for="user"></label>
    <select name="user_id" id="user">
    @for(entry <- users) {
        <option value="@entry.id">@entry.email</option>
    }
    </select>

    <label for="product"></label>
    <select name="product_id" id="product">
    @for(entry <- products) {
        <option value="@entry.id">@entry.name</option>
    }
    </select>

    @inputText(cart("quantity"))

    <div class="buttons">
        <input type="submit" value="Update Cart"/>
    </div>
}