@import controllers.UpdateProductForm
@(product: Form[UpdateProductForm], categories: Seq[Category])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.ProductFormController.updateProductHandle) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@product("id").value" type="hidden" />
    @inputText(product("name"))
    @inputText(product("description"))
    @inputText(product("image"))
    @inputText(product("price"))

    <div class="buttons">
        <input type="submit" value="Update Category"/>
    </div>
}