@import controllers.CreateAccountForm
@(account: Form[CreateAccountForm], users: Seq[User])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.AccountFormController.createAccountHandle()) {
    @helper.CSRF.formField

    <label for="user"></label>
    <select name="providerKey" id="user">
    @for(entry <- users) {
        <option value="@entry.id">@entry.id</option>
    }
    </select>

    @inputText(account("first_name"), '_label -> "First name")
    @inputText(account("last_name"), '_label -> "Last name")

    <div class="buttons" style="margin-top: 10px">
        <input type="submit" value="Add Account"/>
    </div>
}



